@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.3em;
    border-radius: 8px;
    color: var(--color-secondary);
}

html {
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    border-radius: 8px;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-primary: #267DAB;
    --color-secondary: #312483;
    --color-secondary-faded: rgba(49, 36, 131, 0.8);
    --color-background: #e9e9e9;
    --color-border: #E6E6EA;
    --color-bordershadow: #1d1d1dce;
    --color-btn-hover: #2A5E9D;
    --color-text: #242424;
    --color-paragraph: #575757;
    --color-light: #fff;
    --color-anchor: #0c3f46;
    --font-family: "Poppins",
        sans-serif;
    --font-weight-strong: 500;
    --font-size-h1: 6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --font-size-h4: 1.35rem;
    --font-size-text: 1.15rem;
    --border-radius: 8px;
}

html {
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

input,
button,
textarea,
select {
    font: inherit;
}



h1 {
    font-size: var(--font-size-h1);
    font-size: clamp(2rem, 7vw, var(--font-size-h1));
    text-transform: uppercase;
    color: var(--color-secondary);
    background: var(--color-background);
}

h2 {
    font-size: var(--font-size-h2);
    font-size: clamp(2rem, 4vw, var(--font-size-h2));
}

#main h2 {
    color: var(--color-secondary);
    padding: 0;
    font-size: 2em;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

p,
li {
    font-size: var(--font-size-text);
}

p {
    margin: 0 0 1rem;

}

/* article .container>ul:not(.features)>li+li,
article .container>ol>li+li {
  margin-top: 1rem;
} */

article .container *+h2 {
    margin-top: 4rem;
}

article .container *+h3 {
    margin-top: 2rem;
}

strong {
    font-weight: var(--font-weight-strong);
}

a {
    color: var(--color-anchor);
}

blockquote {
    place-items: center;
    padding: 1em;
    color: var(--color-light);
    margin: 2em 0;
    background-color: var(--color-primary);
    position: relative;
    box-shadow: 0.30em 0.30em var(--color-bordershadow);
    border-radius: 8px;
}

blockquote strong {
    position: absolute;
    top: -1.8em;
    left: 0;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    border-radius: 8px;
    background: linear-gradient(175deg, var(--color-primary) 40%, var(--color-secondary));
}

blockquote>* {
    grid-area: blockquote;
}

blockquote p {
    position: relative;
    font-size: var(--font-size-h4);
    margin-bottom: 0;
    padding: 0.5em;
}

blockquote a {
    color: var(--color-light);
}

body {
    color: var(--color-text);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--font-family);
    background-color: var(--color-background);

}

main {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main:focus {
    outline: none;
}

main h3 {
    color: var(--color-primary);
}

@media (max-width: 60rem) {
    blockquote::after {
        transform: translate(25%, 55%) rotate(-5deg);
    }
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-strong);
}

#contribute {
    padding: 0em;
    padding-top: 1em;
    margin-top: 1em;
    background-color: var(--color-background);
}

#contribute section {
    padding: 2rem 1rem;
}

#contribute section ol {
    counter-reset: section;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 0;
    position: relative;
}

#contribute section ol::before {
    width: 300%;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    top: 2.5em;
    z-index: 0;
    content: "";
    left: -50em;
}

#contribute section li::before {
    counter-increment: section;
    content: counter(section);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: 0 auto 1em auto;
    font-size: var(--font-size-h4);
    color: var(--color-light);
    background: var(--color-primary);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#contribute section li {
    padding-left: 10px;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 1;
    padding: 1em;
}

#contribute section:nth-child(2) {
    padding-top: 0;
    padding-bottom: 0;
}

.features {
    position: relative;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
}

.features li {
    display: grid;
    position: relative;
    place-content: center;
    min-height: 12rem;
    padding: 1rem;
    color: var(--color-light);
    text-align: center;
    border-radius: 8px;
}

.features li>span {
    display: grid;
    place-content: center;
    padding: 0.5em;
    grid-gap: 0.5rem;
    border: 4px solid var(--color-light);
    border-radius: 6px;
    background-color: var(--color-primary);
    line-height: 1.1;
    box-shadow: 0.30em 0.30em var(--color-bordershadow);
}

.features li>span a {
    color: inherit;
    font-size: 1.3rem;
    font-weight: var(--font-weight-strong);
    text-decoration: none;
}

.features li>span a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.features li>span span:nth-child(2) {
    position: relative;
}

#styles {
    margin: 5vh 0 20vh;
    text-align: center;
}

#styles h2 {
    color: var(--color-primary);
}

#styles .features li,
.features.patterned li {
    background-color: var(--color-primary);
    background-image: url("https://images.unsplash.com/photo-1594671581654-cc7ed83167bb?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

@media (max-width: 750px) {

    header .container {
        margin: 3em auto 0 auto;
        padding: 3.5rem auto 2.5rem auto;
    }

    header h1 {
        font-size: 3.5rem;
    }

    nav ul {
        background: linear-gradient(30deg, var(--color-secondary), var(--color-primary) 91%, var(--color-primary) 70%);
    }

    #about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #contribute section ol {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #contribute section ol::before {
        display: none;
    }

    #contribute section li {
        position: relative;
    }

    #contribute section li::after {
        position: absolute;
        width: 100%;
        height: 2px;
        background: var(--color-primary);
        content: '';
        top: 2em;
        left: 0;
        z-index: -1;
    }

    #contribute section:nth-child(2) {
        padding-bottom: 2em;
    }

    #files .container a {
        margin-top: 1em;
    }
}

@media (min-width: 515px) and (max-width: 765px) {

    #styles .features li:nth-last-child(1):nth-child(odd),
    .features.patterned li:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
    }

    #files .container a,
    .link-allstyles,
    #guidelines .container>a,
    .profile .container>a {
        width: 100%;
    }
}

@media (max-width: 500px) {
    header .link-github {
        min-height: 2em;
        padding: 0.3em 0.7em;
    }

    header .container {
        margin: 3em auto 0 auto;
        padding: 3.5rem auto 2.5rem auto;
    }

    #files .container a,
    .link-allstyles {
        width: 100%;
    }

    #files .container a {
        background-position: 2.5em center;
    }

    #styles {
        padding: 2rem;
        margin: 5vh 0 5vh;
    }

    .features li>span a::before {
        border-left: 0;
        border-right: 0;
    }

    .page-footer ul li {
        min-width: 100%;
        margin: 0.5em;
    }

    .profile .container>a {
        margin-left: 0;
        width: 100%;
    }
}

#styles .features li:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1594671581654-cc7ed83167bb?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#styles .features li:nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1594671581654-cc7ed83167bb?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
}

main {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

main:focus {
    outline: none;
}

main h3 {
    color: var(--color-secondary);
}

article section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
    width: 100%;
    max-width: 150ch;
    margin-right: auto;
    margin-left: auto;
}

article,
#styles {
    padding: 1rem;
}

.page-footer ul,
.features {
    display: grid;
    margin: 0 0 2rem;
    padding: 0;
    grid-gap: 1em;
    list-style: none;
}

#about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#about section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1.5em;
}


#about section:nth-child(2) p:nth-of-type(2) {
    margin-top: 1.3rem;
    color: var(--color-secondary);
    font-size: 1.5em;
    font-weight: var(--font-weight-strong);
}

#about section:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none;
}

#about section:nth-child(2) ul li {
    margin: 0.25em;
    padding: 0.25em 0.5em;
    background-color: var(--color-light);
}

#about section:nth-child(2)::before {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
    opacity: 0.8;
    content: "";
    z-index: -1;
}

@media (max-width: 35rem) {
    #about section:nth-child(2)::before {
        transform: scale(2) translate(-25%, -25%);
    }
}

#about section:nth-child(2) {
    position: relative;
}

#about section:nth-child(2) p:nth-of-type(2) {
    align-self: center;
    margin-top: 2rem;
    color: var(--color-secondary);
    font-size: 1.5em;
    font-weight: var(--font-weight-strong);
    text-align: center;
}

#about section:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none;
}

#about section:nth-child(2) ul li {
    margin: 0.25em;
    padding: 0.25em 0.5em;
    background-color: var(--color-light);
    border: 4px solid var(--color-primary);
    color: var(--color-text);
    font-size: 1em;
    cursor: default;

}

#about section:nth-child(2)::before {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    transform: translate(-50%, -50%);
    transition: 300ms transform ease-in;
    background-image: radial-gradient(rgba(255, 0, 0, 0) 20%, #b3f8f1 20%, #b3f8f1 25%, rgba(255, 0, 0, 0) 25%, rgba(255, 0, 0, 0) 30%, #b3f8f1 30%, #b3f8f1 40%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 45%, #b3f8f1 45%, #b3f8f1 50%, rgba(255, 0, 0, 0) 50%);
    opacity: 0.8;
    content: "";
    z-index: -1;
}

#files {
    display: grid;
    place-content: center;
    margin: 5vh auto;
    text-align: center;
}

#files h3 {
    height: 0;
    opacity: 0;
}

#files .container {
    display: inline-block;
    padding: 5vmin;
    outline: 4px dashed var(--color-secondary);
    background-color: var(--color-background);
    text-align: center;
    border-radius: 8px;
}

#files .container a:not(:last-child) {
    margin: 0.5rem;
}

#files .container a:not(:last-child):not(.link-codepen) {
    font-size: clamp(1.5rem, 4vw, 2rem);
    border-radius: 8px;
}

.page-footer {
    position: relative;
    display: flex;
    padding: 2.5rem;
    background-color: var(--color-primary);
    background-image: linear-gradient(4deg, var(--color-secondary) -80%, transparent);
    color: var(--color-light);
    text-align: center;
}

.page-footer::before {
    display: inline-grid;
    min-height: var(--logomark-height);
    padding: var(--logomark-padding);
    border: 0.16em solid var(--color-primary);
    border-radius: 7px;
    box-shadow: 0.12em 0.12em var(--color-secondary);
    place-content: center;
    position: absolute;
    left: 50%;
    width: 2em;
    transform: translate(-50%, -100%);
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: 3rem;
    content: "S";
}

.page-footer p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
}

.page-footer p a {
    color: inherit;
}

.page-footer ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}

.page-footer .container> :last-child {
    margin-bottom: 0;
}

#guidelines h3 {
    display: inline-block;
    transform: rotate(-8deg) translateX(-10%);
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    #guidelines h3 {
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

@media (min-width: 120ch) {
    #guidelines h3 {
        transform: rotate(-8deg) translateX(-30%);
        margin-left: .5em;
    }
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    #guidelines p:nth-of-type(2) {
        position: relative;
    }

    #guidelines p:nth-of-type(2)::before {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(4deg) translate(4.75rem, -3.5rem);
        transform-origin: left center;
        -webkit-background-clip: text;
        background-clip: text;
        color: var(--color-primary-alt);
        font-size: 0.9em;
        font-weight: normal;
        /* content: "← Whoa, text gradients!"; */
    }
}

#guidelines .container>a {
    align-self: center;
    border-radius: 8px;
    margin-top: 3em;
}



header {
    --logomark-height: 3em;
    --logomark-padding: 0 1em;
    display: grid;
    min-height: 40vh;
    place-items: center;
    padding: 10vh 2rem;
    background-image: url("https://images.unsplash.com/photo-1594671581654-cc7ed83167bb?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat-x;
    background-position: 0 -38px, 17px -40px;
    color: var(--color-secondary);
    text-align: center;
    background-size: cover;
    width: 100%;
    background-position: center;
}

header h1 {
    display: inline-grid;
    min-height: var(--logomark-height);
    padding: var(--logomark-padding);
    border: 0.16em solid var(--color-primary);
    box-shadow: 0.12em 0.12em var(--color-bordershadow);
    place-content: center;
}

header h2 {
    max-width: 30ch;
}

.my-block {
    padding: 10px;
    margin: 15px;
}

.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 1.125rem;
    overflow: hidden;
}

.skip-link:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
}

[class^=link]:not(.link-codepen) {
    min-height: 3em;
    background-color: var(--color-primary);
    color: #fff;
    box-shadow: 0.18em 0.18em var(--color-secondary);
    margin-top: 2em;
}

[class^=link]:not(.link-codepen),
.profile .container>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75em;
    border-radius: 6px;
    transform: translate(0, 0);
    transition: 180ms all ease-in-out;
    font-size: 1.125rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

[class^=link]:not(.link-codepen):hover,
[class^=link]:not(.link-codepen):focus,
.profile .container>a:hover,
.profile .container>a:focus {
    transform: translate(-0.15em, -0.15em);
    box-shadow: 0.3em 0.3em var(--color-secondary);
}

[class^=link]:not(.link-codepen):focus,
.profile .container>a:focus {
    outline-color: transparent;
    outline-style: solid;
}

.page-footer [class^=link] {
    width: 100%;
    min-height: 2.5em;
    background-color: var(--color-background);
    color: var(--color-primary);
}

@media (max-width: 1010px) {

    #about section,
    #guidelines .container {
        padding: 1em;
    }

    #contribute section {
        padding: 1em 2em;
    }

    #files .container {
        padding-left: 2em;
        padding-right: 2em;
    }

    #files h3 {
        left: 2rem;
    }

    aside.profile {
        margin: 1rem 2rem;
        padding: 0;
    }

    .profile .container {
        padding: 1em 0;
    }

    .profile ul li {
        padding: 0;
    }

    .profile ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .profile .container>a {
        margin-left: auto;
        margin-right: 2em;
    }

    .page-footer ul li {
        margin: -0.5em 0.5em;
    }

    .page-footer [class^="link"] {
        min-height: 3em;
    }
}


.link-codepen {
    display: block;
    margin-top: 3rem;
    font-size: var(--font-size-h4);
}

.link-allstyles {
    font-size: var(--font-size-h4);
}

@media (max-width: 600px) {

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-footer ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
    }
}

.link-github {
    border-radius: 4px;
}

.link-github svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;


}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background: linear-gradient(30deg, var(--color-secondary), var(--color-primary) 25%, var(--color-primary) 70%, var(--color-secondary));
}

nav ul a {
    display: inline-grid;
    padding: 0.5rem;
    color: var(--color-background);
    font-size: 1.25rem;
    text-decoration: none;
}

nav ul li {
    margin: 0.25rem;
}

nav ul a:hover::before,
nav ul a:focus::before {
    opacity: 1;
}

nav ul li {
    margin: 0.25rem;
}

nav ul a:hover {
    color: var(--color-primary-alt);
    transition: 0.5s;
}

.profile {
    width: 95vw;
    max-width: 80ch;
    margin: 1rem auto 10vh;
    padding: 1.25rem;
    z-index: 1;
}

.profile h4 {
    margin: 0 0 0.5em 0;
    color: var(--color-secondary);
    text-align: left;
    font-size: var(--font-size-h3);
    padding: 0.25em 0.5em;
    width: 100%;
}

.profile .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: -1em 2em;
}

.profile .container>a {
    min-height: 2em;
    border: 2px solid currentColor;
    color: var(--color-secondary);
    margin-left: auto;
}

.profile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.profile ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1em;
}

.profile ul li span:nth-child(1) {
    width: auto;
    margin-right: 0.25em;
}

.profile ul li span:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    word-break: break-word;
}

.profile ul li span:nth-child(2) a {
    color: inherit;
}

/* # sourceMappingURL=style.css.map */