body {
    font-family: 'Recursive', sans-serif;
}

.different-font {
    font-family: 'Courier New', Courier, monospace;
}

.alert-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.alert-seal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.alert-text {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.exam-text {
    font-size: 0.8em;
    color: grey;
}

.exam-text.upside-down {
    transform: rotate(180deg);
}

.alert-content {
    border-left: 2px solid black;
    padding-left: 10px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    position: relative;
    padding-left: 20px;
}

ul li::before {
    content: '>';
    position: absolute;
    left: 0;
}